@charset "utf-8";
/* DEFAULT PAGE RULES */
body {
	color: #000;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 62.5%;
}

/* 1080x1920 BOUNDARY RULES */
#container {
	height: 1920px;
	width: 1080px;
	padding: 0;
	margin: 0 auto 0 auto;
	background-color: #FFF;
	overflow: hidden;
}

/* HEADER RULES */
#header {
	background-image: url(assets/content/header_bg.png);
	height: 230px;
	width: 1080px;
	text-transform: uppercase;
}
#sectionTitle {
	font-size: 9em;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	margin: 0;
	width: 880px;
	overflow: hidden;
	float: left;
	height: 200px;
	text-align: center;
	line-height: 200px;
}
	/* USE THESE IN CASES OF LONG TITLES IT UTILIZES TWO LINES INSTEAD OF ONE */
#sectionTitleHalfTop {
	font-size: 6em;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	margin: 0;
	width: 880px;
	float: left;
	height: 100px;
	text-align: center;
	line-height: 140px;
}
#sectionTitleHalfBottom {
	font-size: 5em;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	margin: 0;
	width: 880px;
	float: left;
	height: 100px;
	text-align: center;
}
#SHLogo {
	float: right;
	height: 200px;
	width: 200px;
	cursor: pointer;
}

/* BODY AND CONTENT RULES */
#body {
	height: 1630px;
	width: 1080px;
}
#content {
	background-color: #282828;
	width: 1030px;
	border-radius: 20px;
	margin: 20px 0 0 20px;
	padding: 5px;
}
	/* TITLE ROW */
.trHeader {
	border-radius: 20px;
	height: 60px;
	margin: 10px 0 10px 0;
	width: 1030px;
	line-height: 60px;
}
		/* TITLE STYLE */
.title {
	color: #FFF;
	background-color: #3171B8;
	padding: 0 0 0 30px;
	border-radius: 20px;
	margin: 0 25px 0 25px;
}
		/* THE CONTENT STYLES */
.trContent {
	border-radius: 20px;
	background-color: #FFF;
	height: 1090px;
	width: 1030px;
}
.contentExtended {
	height: 1520px;
}
.contentBuffer {
	margin: 0 auto 0 auto;
	overflow: none;
}

			/* FORMATTING STYLES */
.contentBuffer h1 {
	font-size: 3em;
}
.contentBuffer h2 {
	font-size: 2.5em;
}
.contentBuffer h3 {
	font-size: 2em;
}
.contentBuffer p {
	font-size: 1.5em;
	line-height: 1.75em;
}
.contentBuffer a {
	text-decoration: none;
	color: #3171B8;
}
.contentBuffer hr {
	width: 50%;
	height: 2px;
	background-color: #3171B8;
	border: 0px;
}
.contentBuffer p img {
	border: 2px solid #3171B8;
	border-radius: 10px;
	margin: 0 10px 0 10px;
}
.contentBuffer .blueButton {
	padding: 10px 20px 10px 20px;
	color: #FFF;
	background-color: #3171B8;
	border-radius: 10px;
	margin: 10px 0 10px 0;
}
.contentBuffer .fancy {
	color: #3171B8;
	font-size: 1.8em;
	line-height: 1em;
}



/* FOOTER RULES */
#footer {
	height: 40px;
	width: 1080px;
	background-color: #3171B8;
	text-align: center;
	color: #FFF;
	line-height: 40px;
}
#footer p {
	margin: 0px;
	padding: 0px;
	font-size: 1.5em;
}

/* SCROLLBAR STYLE */
.scrollbar {
	margin: 10px 0 0 30px;
	float: left;
	height: 1030px;
	width: 980px;
	overflow-y: auto;
	margin-bottom: 25px;
}
.SBstyle::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FFF;
}
.SBstyle::-webkit-scrollbar {
	width: 20px;
	background-color: #F5F5F5;
}
.SBstyle::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3171B8;
}
