@charset "utf-8";

/* DEFAULT STYLE RULES*/
body {
	color: #000;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	margin: 0px;
	padding: 0px;
}

/* 1080x1920 BOUNDARY RULES */
#container {
	height: 1900px;
	width: 1060px;
	margin: 0 auto 0 auto;
	background-color: #FFF;
	padding: 0px;
	background-image: url(../assets/content/header_bg.png);
	background-repeat: no-repeat;
}
#header {
	height: 350px;
	padding: 0 10px 0 10px;
	color: #FFF;
}
